#container {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  color: #ffffff;
}

.header {
  background-color: aqua;
  color: black;
  text-align: center;
  margin-bottom: 1em;
}

.footer {
  background-color: aqua;
  color: black;
}

.column-1 {
  background-color: red;
  width: 50%;
  float: left;
  text-align: justify;
}

.column-2 {
  background-color: blue;
  width: 50%;
  float: left;
}

.clear {
  clear:both;
}
